/**
 * @name Nasa
 * @author UltraLion#0001
 * @version 1.0
 * @description Nasa Theme created by UltraLion.
 * @donate https://paypal.me/ultralionfr
 * @authorLink https://github.com/UltraLionfr
 * @website https://ultralion.ml
**/

/*
 /$$   /$$  /$$$$$$   /$$$$$$   /$$$$$$ 
| $$$ | $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$$$| $$| $$  \ $$| $$  \__/| $$  \ $$
| $$ $$ $$| $$$$$$$$|  $$$$$$ | $$$$$$$$
| $$  $$$$| $$__  $$ \____  $$| $$__  $$
| $$\  $$$| $$  | $$ /$$  \ $$| $$  | $$
| $$ \  $$| $$  | $$|  $$$$$$/| $$  | $$
|__/  \__/|__/  |__/ \______/ |__/  |__/
*/

@import url("https://ultralionfr.github.io/My-BetterDiscord-Collection-Theme/css/nasa.css");
@import url("https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css");
@import url("https://codedotspectra.github.io/themes/mini-themes/settingsIcons.css");


/*radialstatuts*/
:root {
    --rs-small-spacing: 2px;  /* spacing between avatar and status */
    --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles */
    --rs-width: 2px;  /* Width/thickness of status border */
    --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
    --rs-online-color: #43b581;  /* color for online status */
    --rs-idle-color: #faa61a;  /* color for idle status */
    --rs-dnd-color: #f04747;  /* color for dnd status */
    --rs-offline-color: #636b75;  /* color for offline status */
    --rs-streaming-color: #643da7;  /* color for streaming status */
    --rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */
  }
  /*End radialstatuts*/

.theme-dark .itemContainer-1LSFks {
    background-color: transparent;
}
.theme-dark .colorHeaderSecondary-3Sp3Ft,.colorHeaderPrimary-26Jzh-{
  color: white;
}
.theme-dark .input-cIJ7To {
  color: white;
}
.theme-dark .container-1CE3eW {
  background-image: url("https://i.imgur.com/b7XZsIU.jpg");
}
